.weather-app {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
  border-radius: 5px;
  padding: 25px;
  border-radius: 10px;
  max-width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
body {
  font-family: 'Glory', sans-serif;
}
.navigation-items {
  list-style: none;
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
}
.navigation-item {
  display: inline;
  margin: 0 20px 0 0;
}
a {
  text-decoration: none;
}

.city {
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
  height: 44px;
  outline: 0;
  padding: 10px;
  width: 300px;
}
.btn {
  height: 44px;
}

.nyc {
  padding: 30px;
  color: #878792;
  font-weight: 100;
}
.weather-emoji {
  padding: 20px;
  font-size: 25px;
}
.days {
  text-align: center;
}
